
body {
    background: rgb(243, 201, 201);
    margin-left: 200px;
    margin-right: 200px;
}
header {
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
    font-size: 40px;
}

h2{
    font-family: fantasy;
}

p {
    font-size: 18px;
}
footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo_par {
    width: 150px;
}

.logo {
    width: 30px;
}